@model IEnumerable<WebAppStart.Models.VideoCard>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link ref="stylesheet" href="~css\StyleSheetHome.css" type="text/css" />
  </head>
  <body>
<div class="main" >
    <div class="row">
        <div class="col-1-3">
            <div class="Filter">

            <a class="BtnFilter" asp-area="" asp-controller="Home" asp-action="Index">
                <h4 class="text-white">
                Сбросить фильтры!
                </h4>

            </a>
            </div>
        </div>
    </div>
    <div class= "row">
        <div class= "col-1-2">
            <table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
    </div>
</div>
  </body>
</html>
